*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --c1: white;
}

body {
  background: var(--c1);
  margin: 30px 30px;
  overflow-y: hidden;
}

nav {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

nav > ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  width: 100%;
}

.tableDiv {
  height: fit-content;
}

.tableDiv span {
  display: flex;
  gap: 3px !important;
}

#sidInput {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 3px;
}

#radioForm {
  margin-left: 3px;
}

#sidInput input {
  font-size: 18px;
  width: 4ch;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radio-rectangle {
  display: inline-block;
  cursor: pointer;
}

.radio-rectangle input[type="radio"] {
  display: none; /* Hide the actual radio button */
}

.radio-rectangle span {
  display: inline-block;
  padding: 2px 3px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
}

.radio-rectangle input[type="radio"]:checked + span {
  background-color: blue;
  border-color: blue;
  color: white;
}

.radio-rectangle span:hover {
  background-color: #e0e0e0;
}

#appName {
  margin-right: auto;
}

#appName a {
  font-size: 35px;
  font-weight: bolder;
  text-decoration: none;
  font-family: consolas;
  color: black;
}

li {
  list-style: none;
}

li a:not(#appName a) {
  text-decoration: none;
  color: black;
  font-size: 20px;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 3px;
  transition: 0.1s all linear;
}

li a:not(#appName a):hover {
  color: white;
  background: black;
}

.file-input-container {
  display: grid;
  /* display: none; */
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.file-input-container a {
  background: #000;
  color: white;
  padding: 7px 15px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.file-input-container h3 {
  font-weight: 500;
  font-size: 20px;
}

.file-input-container div {
  display: flex;
  flex-direction: column;
}

.file-input-container span {
  display: flex;
  gap: 10px;
  align-items: center;
}

.container {
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
}

.container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transform: scale(1.1);
  top: 0;
  left: 0;
}

#processBtn,
#backBtn,
#exportBtn,
#saveDb {
  background: bisque;
  color: white;
  width: fit-content;
  text-decoration: none;
  font-size: 20px;
  border: none;
  padding: 5px 20px;
  border-radius: 3px;
}

#saveDb,
#backBtn,
#exportBtn {
  background: white;
  color: black;
  cursor: pointer;
  padding: 5px 15px;
  border: 2px solid black;
  transition: 0.1s all linear;
}

#backBtn {
  background: black;
  color: white;
}

#saveDb:hover,
#exportBtn:hover {
  color: white;
  background: orange;
  border: 2px solid orange;
}

.loading {
  width: 96%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.loader {
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: block;
  margin: -100px auto 0;
  position: relative;
  color: #fff;
  transform: translateY(30px);
  box-sizing: border-box;
  animation: animloader 2s ease infinite;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  color: blue;
  position: absolute;
  left: 30px;
  top: 0;
  animation: animloader 2s 0.2s ease infinite;
}
.loader::before {
  animation-delay: 0.4s;
  left: 60px;
}

@keyframes animloader {
  0% {
    top: 0;
    color: blue;
  }
  50% {
    top: 30px;
    color: rgba(0, 0, 255, 0.281);
  }
  100% {
    top: 0;
    color: blue;
  }
}

.result {
  display: none;
}

.result * {
  max-width: 100%;
}

.result-display {
  display: flex;
  margin-top: 5px;
  max-height: fit-content;
  padding: 10px;
  gap: 10px;
}

.tableDiv h1 {
  font-size: 30px;
}

#colRes,
#beamRes,
#colStatus {
  font-family: consolas;
  font-size: 17px;
  margin-bottom: 3px;
}

#cirStatusC {
  font-size: 17px;
  font-family: consolas;
}

.imageDiv {
  max-height: 570px;
  max-width: fit-content;
  position: relative;
  display: inline-block;
}

.imageDiv img {
  object-fit: cover;
  height: 100%;
  display: block;
}

#canvasImage {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.circleImage {
  height: 234px;
  width: 100%;
  margin-top: 15px;
  position: relative;
  display: inline-block;
}

.circleImage img {
  height: 100%;
  max-width: 100%;
  display: block;
}

#canvasCir {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.note {
  display: flex;
  flex-direction: column;
}

table {
  border-collapse: collapse;
}

td,
th {
  font-size: 17px;
  text-align: center;
  padding: 5px 15px;
  border: 1px solid black;
}

th {
  background: blue;
  color: white;
  font-family: consolas;
}

tr:nth-child(odd) {
  background-color: #f0eded;
}

.lower-res {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

/* .detectorDetails {
  /* margin-top: 20px; */
/* background: skyblue; */
/* } */
*/ .detectorDetails span {
  width: 100%;
  display: flex;
}

.detectorDetails p {
  font-size: 18px;
}

textarea {
  padding: 2px;
  width: 100%; /* Set the width to 20 characters */
  font-size: 18px;
  resize: none; /* Optional: Disable resizing */
}

/* .detectorDetails input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  padding: 0 1ch;
  width: 100%;
} */

/* Database */
/* Pop-up Styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  padding: 20px;
  background-color: #eeeeee;
  box-shadow: 0 10px 20px black;
  border-radius: 4px; /* Apply border radius */
  overflow: hidden; /* Ensure radius is not clipped */
  z-index: 1000;
  display: none;
}

.popup-content {
  margin-top: 20px;
  max-height: 300px; /* Control height of scrollable content */
  overflow-y: auto; /* Enable vertical scroll */
  padding: 10px; /* Add padding for spacing inside popup */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.popup-content span {
  padding: 20px;
  background: white;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  border: 2px solid white;
}

.popup-content span:hover {
  border: 2px solid blue;
}

.popup-content a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

/* Overlay Background */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  display: none; /* Hidden by default */
  z-index: 999; /* Under the popup */
}

/* Close Button */
.close-btn {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  float: right;
}

.popup-content::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  border-radius: 0px;
  background: white;
}

.popup-content::-webkit-scrollbar-thumb {
  background: blue; /* Color of the scrollbar thumb */
}
